<header>
  <nav class="navbar navbar-light" style="background-color: #81b8e2;">
    <a class="navbar-brand fas fa-shipping-fast" href="#" style="font-size: 25px;">Dashboard</a>
        <input type="text" class="form-control" [ngModel]="searchTerm" (keyup)="search($event)" placeholder="search products">
    <span class="fas fa-search search-icon"></span>
    
    <a routerLink="productlist" class="navbar-brand fas fa-solid fa-list" href="#" style="font-size: 25px;"> Product</a>
    <button routerLink="cart" class="btn btn-primary">
        <i class="fas fa-cart-plus" style="font-size: 30px;"></i>
        <div class="badge bg-danger" style="font-size: 10px;">{{totalItem}}</div>
    </button>
</nav>
</header>

<!-- <header>
    <div class="navbar bg-primary shadow-sm" style="background-color: #fde3e9;">
        <div class="navbar-brand align-item-center d-flex">
    <i routerLink="products" style="font-size: 40px;" class="fas fa-shipping-fast">
        <strong style="font-size: 30px;">Dashboard</strong>
        
    </i>
    <div class="form-group">
        <input type="text" class="form-control" [ngModel]="searchTerm" (keyup)="search($event)" placeholder="search products">
    </div>
    <span class="fas fa-search search-icon"></span>
    </div>
    <i class="fa-light fa-list">
      <strong style="font-size: 30px;">Product</strong>
    </i>
    <button routerLink="cart" class="btn btn-primary">
        <i class="fas fa-cart-plus" style="font-size: 30px;"></i>
        <div class="badge bg-danger" style="font-size: 10px;">{{totalItem}}</div>
    </button>
</div>
</header> -->


<!-- Modal
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> 
        <div class="modal-body">
            <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Product Name:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="dropdown"> <br>
    <label for="btn btn-secondary dropdown-toggle">Category:</label> &nbsp;
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Category
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Fashion</a></li>
    <li><a class="dropdown-item" href="#">Electronics</a></li>
    <li><a class="dropdown-item" href="#">Jewelery</a></li>
  </ul>
</div>

                <div class="form-group">
                  <label for="message-text" class="col-form-label">Description:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Price:</label>
                    <input type="text" class="form-control" id="recipient-name">
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>
   -->