
<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter: searchKey:'productName'"> <div class="card col-md-3">
           <a routerLink="/details/{{item._id}}"><img src="{{item.imageUrl}}" alt=""></a>
            <h5 style="white-space: nowrap; overflow: hidden; text-overflow:ellipsis; max-width: 100ch;">{{item.productName}}</h5>
            <p style="white-space: nowrap; overflow: hidden; text-overflow:ellipsis; max-width: 100ch;">{{item.description}}</p>
            <p><strong>Price:</strong>${{item.price}}</p>
            <span><button type="button" class="btn" (click)="dec(item)"><i class="fa fa-minus"></i></button>
            {{item.quantity}}
            <button type="button" class="btn" (click)="inc(item)"><i class="fa fa-plus"></i></button></span>
            <button class="btn btn-primary" (click)=addtocart(item)>Add to cart</button>
          </div></ng-container>
    </div>
</div>